<!doctype html>
<html<% if ( config.language ) { %> lang="<%= config.language %>"<% } %>>
<head>
    <%- partial('_partial/_head') %>
</head>
<body>
    <%- partial('_partial/_page') %>    
</body>
</html>
